mixin range-chart-card(chart_id, title, range_chart)
	.chart-card.card-shadow.container-fluid.col-12.m-0.p-0.h-100
		nav.navbar.navbar-chart-compressor.p-1
			a#line-chart-title.navbar-brand.mx-2(href='#Separate ' + title + ' View') #{title}
			.dropdown
				a#settings.chart-settings-btn.fas.fa-cog.my-0.mx-2.p-1(data-toggle='dropdown', style="color: rgba(70,70,70,0.8)")
				.dropdown-menu.dropdown-menu-right(aria-labelledby='settings')
					if block
						block
					else
						a.dropdown-item(href='#') No settings provided
		div(id=chart_id).col-12.p-2
		if range_chart
			.col-12.p-2(id=range_chart)
				
mixin chart-card(chart_id, title, info)
	.chart-card.card-shadow.container-fluid.col-12.m-0.p-0.h-100
		nav.navbar.navbar-chart.p-1
			a.navbar-brand.mx-2(href='#Separate ' + title + ' View') #{title}
			.dropdown
				a#settings.chart-settings-btn.fas.fa-cog.my-0.mx-2.p-1(data-toggle='dropdown', style="color: rgba(70,70,70,0.8)")
				.dropdown-menu.dropdown-menu-right(aria-labelledby='settings')
					if block
						block
					else
						a.dropdown-item(href='#') No settings provided
		div(id=chart_id).col-12.p-2
		if info
			.px-3(id=info)

mixin topnav(active_view)
	nav#topnav.navbar.navbar-expand-lg.navbar-custom.p-1
		a#toggle-sidenav.togglerbtn.m-0
			span.toggle-icon.fas.fa-bars
		img(src='prevas_logga.svg', alt='Logo', style='height:20px')
		a.navbar-brand.mx-lg-5.m-0(href='#') #{title}
		button.navbar-toggler.m-0(type='button', data-toggle='collapse', data-target='#collapsed-topnav', aria-controls='collapsed-topnav')
			span.toggle-icon.fas.fa-bars
		#collapsed-topnav.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				each view in ['1', '2', '3']
					li(class=active_view == view ? 'active' : '').nav-item.d-flex.justify-content-center
						a.nav-link(href='dashboard?data=bike&view=' + view) View #{view}
				li#warning-link(class=active_view == 'warning' ? 'active' : '').nav-item.d-flex.justify-content-center
					a#warning-triangle.nav-link.fas.fa-exclamation-triangle.pr-1(href='dashboard?data=bike&view=warning')
					.container-fluid.m-0.p-0.h-100(style="width: 20px")
						p#broken-count.m-0.px-0 
						p#warning-count.m-0.p-0 
			a.qmark.fas.fa-question.mx-2(href='dashboard?data=bike&view=help')
			form.form-inline.d-flex.justify-content-center
				.input-group-prepend
					span#calendar-addon.input-group-text.fas.fa-calendar-alt(style="font-size: 1.5rem")
				input.form-control.mr-2.w-auto(type='text', name='daterange', value='01/01/2018 - 12/31/2018', aria-describedby='calendar-addon')
	script(src='javascripts/statuses.js')

mixin sidenav
	nav#sidenav
		a.nav-link(href='dashboard?data=compressor&view=main') Compressors Main
		a.nav-link(href='dashboard?data=bike&view=1') Bike Data
		a.nav-link(href='dashboard?data=compressor&view=warning-compressor') Warnings
		a.nav-link(href='dashboard?data=compressor&view=compressor') Compressor id
